{% extends 'baseadmin.html.twig' %}

{% block body %}
  <!-- Default box -->
      <div class="box boxtable">
        <div class="box-header with-border">
          <h3 class="box-title">{{ 'Producttype'| trans }}</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                    title="Collapse">
              <i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
              <i class="fa fa-times"></i></button>
          </div>
        </div>
        <div class="box-body">
         <table class="table table-condensed">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ productType.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ productType.name }}</td>
            </tr>
        </tbody>
    </table>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            

<div class="box-footer">
    <a href="{{ path('producttype_index') }}" class="btn btn-default">Wróć do listy</a>

    <a href="{{ path('producttype_edit', { 'id': productType.id }) }}" class="btn btn-default">Edytuj</a>

    {{ form_start(delete_form) }}
    <input type="submit" value="Usuń" class="btn btn-danger pull-right">
    {{ form_end(delete_form) }}
</div>
</div>
        <!-- /.box-footer-->
      </div>
      <!-- /.box -->
      {% endblock %}
   


