    

<div class="box-footer">
    <a href="{{ "{{ path('" ~ route_name_prefix ~ "_index') }}" }}" class="btn btn-default">Wróć do listy</a>

    {%- if ('edit' in actions) and (not hide_edit) %}


    <a href="{{ "{{ path('" ~ route_name_prefix ~ "_edit', { '"~ identifier ~"': " ~ entity_singularized ~ "."~ identifier ~" }) }}" }}" class="btn btn-default">Edytuj</a>


    {%- endif %}
    {%- if ('delete' in actions) and (not hide_delete) %}


    {{ '{{ form_start(delete_form) }}' }}
    <input type="submit" value="Usuń" class="btn btn-danger pull-right">
    {{ '{{ form_end(delete_form) }}' }}


    {%- endif %}

</div>
