{% extends 'baseadmin.html.twig' %}

{% block body %}
   <div class="box boxtable">
            <div class="box-header">
                <h3 class="box-title">{{ 'Products'| trans }} <small>wszystkie rekordy</small></h3>
                <div class="box-tools pull-right">
                    <a type="button" href="{{ path('product_new') }}" class="btn btn-sm btn-success" >
                        <span class="fa fa-plus-square"></span>
                        {{ 'create' | trans }} {{ 'product'| trans }}
                    </a>
                </div>
            </div>
            <!-- /.box-header -->
            
            
            
            
            
            <div class="box-body">
                <div class="table-responsive">
                    <table id="example1" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>{{ 'id'| trans }}</th>
                <th>{{ 'klient'| trans }}</th>
                <th>{{ 'producttype'| trans }}</th>
                <th>{{ 'productsize'| trans }}</th>
                <th>{{ 'producerid'| trans }}</th>
                <th>{{ 'serialnumber'| trans }}</th>
                <th>{{ 'yearofproduction'| trans }}</th>
                <th>{{ 'coronanumber'| trans }}</th>
                <th>{{ 'producernumber'| trans }}</th>
                <th>{{ 'descriptionlocation'| trans }}</th>
                <th>{{ 'tank'| trans }}</th>            

               
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>    <td>
                                        <a href="{{ path('product_show', { 'id': product.id }) }}" class="btn btn-xs">
                        <i class="fa fa-eye"></i>
                    </a>
                       
                    
                       
                                        <a href="{{ path('product_edit', { 'id': product.id }) }}"class="btn btn-xs">
                        <i class="fa fa-edit"></i>    
                    </a>   
                          <a href="{{ path('product_show', { 'id': product.id }) }}">{{ product.id }}</a> 
                </td>
                
                <td>{{ product.customerid }}</td>
                <td>{{ product.producttypeid }}</td>
                <td>{{ product.productsizeid }}</td>
                <td>{{ product.producerid }}</td>
                <td>{{ product.serialnumber }}</td>
                <td>{{ product.yearofproduction }}</td>
                <td>{{ product.coronanumber }}</td>
                <td>{{ product.producernumber }}</td>
                <td>{{ product.descriptionlocation }}</td>
                <td>{{ product.tank }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
            </div>
            <!-- /.box-body -->
        </div>
     

{% endblock %}
