{% extends 'baseadmin.html.twig' %}

{% block body %}
  <!-- Default box -->
      <div class="box boxtable">
        <div class="box-header with-border">
          <h3 class="box-title">{{ 'Product'| trans }}</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                    title="Collapse">
              <i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
              <i class="fa fa-times"></i></button>
          </div>
        </div>
        <div class="box-body">
         <table class="table table-condensed">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Productid</th>
                <td>{{ product.productid }}</td>
            </tr>
            <tr>
                <th>Size</th>
                <td>{{ product.size }}</td>
            </tr>
            <tr>
                <th>Serialnumber</th>
                <td>{{ product.serialnumber }}</td>
            </tr>
            <tr>
                <th>Yearofproduction</th>
                <td>{{ product.yearofproduction }}</td>
            </tr>
            <tr>
                <th>Coronanumber</th>
                <td>{{ product.coronanumber }}</td>
            </tr>
            <tr>
                <th>Producernumber</th>
                <td>{{ product.producernumber }}</td>
            </tr>
            <tr>
                <th>Customerid</th>
                <td>{{ product.customerid }}</td>
            </tr>
            <tr>
                <th>Descriptionlocation</th>
                <td>{{ product.descriptionlocation }}</td>
            </tr>
            <tr>
                <th>Tank</th>
                <td>{{ product.tank }}</td>
            </tr>
        </tbody>
    </table>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            

<div class="box-footer">
    <a href="{{ path('product_index') }}" class="btn btn-default">Wróć do listy</a>

    <a href="{{ path('product_edit', { 'id': product.id }) }}" class="btn btn-default">Edytuj</a>

    {{ form_start(delete_form) }}
    <input type="submit" value="Usuń" class="btn btn-danger pull-right">
    {{ form_end(delete_form) }}
</div>
</div>
        <!-- /.box-footer-->
      </div>
      <!-- /.box -->
      {% endblock %}
   


