{% extends 'baseadmin.html.twig' %}
{% block title %}PANEL ADMINISTRACYJNY | {{ pagetitle|default('Logowanie') }} {% endblock %}
{% block sectiontitle %}PANEL ADMINISTRACYJNY{% endblock %} 
{% block sectionsubtitle %}podtytuł{% endblock %}
{% block typeview %}typ widoku{% endblock %}
{% block body %}
    <h1>Certificate edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" class="btn btn-success"  value="Edytuj" />
    {{ form_end(edit_form) }}

    

<div class="box-footer">
    <a href="{{ path('certificate_index') }}" class="btn btn-default">Wróć do listy</a>

    {{ form_start(delete_form) }}
    <input type="submit" value="Usuń" class="btn btn-danger pull-right">
    {{ form_end(delete_form) }}
</div>
{% endblock %}
