{% block extends %}
    {{ "{% extends 'baseadmin.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block body %}" }}
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">{{ "{{ '" ~ entity_singularized|capitalize ~ "'| trans }}" }} <small>tworzenie</small></h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
        <!-- form start -->
        {{ '{{ form_start(form) }}' }}
        {{ '{{ form_widget(form) }}' }}
        <input type="submit" class="btn btn-success" value="Utwórz" />
        </div>
         <div class="box-footer">
          {% set hide_edit, hide_delete = true, true %}
        {{ include('crud/views/others/record_actions.html.twig.twig') -}}
       
        {{ '{{ form_end(form) }}' }}
        </div>
        <!-- /.box-footer-->
       
        

    </div>
    <!-- /.box -->

{{ "{% endblock %}" }}
{% endblock body %}