{% extends 'baseadmin.html.twig' %}

{% block body %}
    <h1>Klienci</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ customer.id }}</td>
            </tr>
            <tr>
                <th>Nazwa</th>
                <td>{{ customer.name }}</td>
            </tr>
            <tr>
                <th>Firma matka</th>
                <td>{{ customer.company }}</td>
            </tr>
            <tr>
                <th>Ulica</th>
                <td>{{ customer.street }}</td>
            </tr>
            <tr>
                <th>Miejscowość</th>
                <td>{{ customer.city }}</td>
            </tr>
            <tr>
                <th>Kod pocztowy</th>
                <td>{{ customer.zipcode }}</td>
            </tr>
            <tr>
                <th>Poczta</th>
                <td>{{ customer.postoffice }}</td>
            </tr>
            <tr>
                <th>Wojewodztwo</th>
                <td>{{ customer.province }}</td>
            </tr>
            <tr>
                <th>Nip</th>
                <td>{{ customer.nip }}</td>
            </tr>
            <tr>
                <th>E-mail</th>
                <td>{{ customer.email }}</td>
            </tr>
            <tr>
                <th>Telefon 1</th>
                <td>{{ customer.phone1 }}</td>
            </tr>
            <tr>
                <th>Telefon 2</th>
                <td>{{ customer.phone2 }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('customer_index') }}">Lista</a>
        </li>
        <li>
            <a href="{{ path('customer_edit', { 'id': customer.id }) }}">Edycja</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
