{% extends 'baseadmin.html.twig' %}

{% block body %}
  <!-- Default box -->
      <div class="box boxtable">
        <div class="box-header with-border">
          <h3 class="box-title">{{ 'Customer'| trans }}</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                    title="Collapse">
              <i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
              <i class="fa fa-times"></i></button>
          </div>
        </div>
        <div class="box-body">
         <table class="table table-condensed">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ customer.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ customer.name }}</td>
            </tr>
            <tr>
                <th>Company</th>
                <td>{{ customer.company }}</td>
            </tr>
            <tr>
                <th>Street</th>
                <td>{{ customer.street }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ customer.city }}</td>
            </tr>
            <tr>
                <th>Zipcode</th>
                <td>{{ customer.zipcode }}</td>
            </tr>
            <tr>
                <th>Postoffice</th>
                <td>{{ customer.postoffice }}</td>
            </tr>
            <tr>
                <th>Province</th>
                <td>{{ customer.province }}</td>
            </tr>
            <tr>
                <th>Nip</th>
                <td>{{ customer.nip }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ customer.email }}</td>
            </tr>
            <tr>
                <th>Phone1</th>
                <td>{{ customer.phone1 }}</td>
            </tr>
            <tr>
                <th>Phone2</th>
                <td>{{ customer.phone2 }}</td>
            </tr>
            <tr>
                <th>Www</th>
                <td>{{ customer.www }}</td>
            </tr>
        </tbody>
    </table>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            

<div class="box-footer">
    <a href="{{ path('customer_index') }}" class="btn btn-default">Wróć do listy</a>

    <a href="{{ path('customer_edit', { 'id': customer.id }) }}" class="btn btn-default">Edytuj</a>

    {{ form_start(delete_form) }}
    <input type="submit" value="Usuń" class="btn btn-danger pull-right">
    {{ form_end(delete_form) }}
</div>
</div>
        <!-- /.box-footer-->
      </div>
      <!-- /.box -->
      {% endblock %}
   


